/** Original Design: Emin Özlem  http://www.cssdizayn.com  (tilqicom@http://forums.b2evolution.net)
Feel free to distribute
Start the stylesheet for the grey_skale skin 0.1 fixed version for 800+ res

IMPORTANT NOTICE: 	-webkit-text-size-adjust: none;  iPhone  has been commented out in order to pass validation re-enable if you need it..

*/
@import url("rsc/css/basic.css");	/* Import basic styles */
@import url("../../rsc/css/img.css");	/* Import standard image styles */
@import url("../../rsc/css/blog_elements.css");	/* Import standard blog elements styles */
@import url("../../rsc/css/forms.css");	/* Import default form styles */
@import url("../../rsc/css/comments.css");	/* Import default comment styles */


/*  = = = = = = = = = = = = = = Begin MAIN STRUCTRE  = = = = = = = = = = = = */
* {border:none;padding:0;margin:0;}
html {border:none;padding:0;margin:0;}



#page {
border: none;/* used for outline */
}

body {
font-size: 10px;
font-family: 'Verdana', Arial, Sans-Serif;
background: #333333;
color: #666666;
}
#header {
margin: 0 auto;
clear: both;
padding: 0;
height: 200px;
width: 100%;
background: #999999 url(img/logo.gif) bottom left no-repeat;
text-align: center;
border-bottom: 1px solid #fff;/* used for outline */
}

#page {
background-color: black;
text-align: left;
margin: 0px auto;
padding:0;
width: 94%;}

#content_wrapper {
width: 100%;
margin: 0;
padding:0;
overflow: hidden; /* in order to equalize Column heights, alternative to the faux columns method*/}

#content { /*this wrapper prevents any possible calculation / miscellaneous bugs*/ 
padding: 40px 0 40px 0;
float: left;
width: 77%;
background-color: #E5E5E5;
border: none;/* used for outline */
overflow: hidden;}

#content_page, #index {width: 96%;background-color: #E5E5E5;padding:2%;}

.postcolumn { /*additional class to customize things for content*/
width: 90%;
margin: 0 auto;
padding-bottom: 10px;

}
#sidebarwrap { /*this wrapper prevents any possible calculation / miscellaneous bugs*/ 
float:left;
width: 23%;
overflow: hidden;
background-color: #ccc;
padding: 0;}

.sidebar{
background: transparent;
width: 90%;
padding: 0;
float: none;
overflow: hidden;
margin: 0 auto;
max-width: 200px;
}
#content, #sidebarwrap, .sidebar {
padding-bottom: 32767px;/* in order to equalize Column heights, alternative to the faux columns method* which makes approx 30 pages, feel free to increase -decrease the value*/
margin-bottom: -32767px;/* in order to equalize Column heights, alternative to the faux columns method*/
}
.post {text-align: justify;}
#footer {
background: #999999;
clear: both;
padding: 10px 0 10px 0;
margin: 0 auto;
width: 100%;
clear: both;
color: #ccc;
text-align: center;
border-top: 1px solid #fff; /* used for outline */

}
/* = = = = = = = = = = = = End OF MAIN STRUCTURE  = = = = = = = = = = = = = = = = = = = = = = = =*/


/* = = = = = = = = = = = = BEGIN TITLES  = = = = = = = = = = = = = = = = = = = = = = = =*/
h1, h2, h3, h4, h5, h6 {
font-family: 'Arial', Verdana, Sans-Serif;
font-weight: bold;
}
h1 {font-size: 340%;text-align: center;}
h2 {font-size: 1.6em;margin-bottom: 11px;}
h3 {font-size: 1.3em;}
h4, h5, h6 {font-size: 0.8em;}
/*	custom titles */
.sidebar h2 {
font-family: 'Lucida Grande', Verdana, Sans-Serif;
font-size: 1.2em;
margin: 5px 0 0;
padding: 0;
}
/* = = = = = = = = = = = = = = = = = = = = = = =END OF TITLES = = = = = = = = = = = = = */
/*links*/
#skin_wrapper a {color: #000;
border-bottom: 1px dashed #000;
text-decoration: none;}

#skin_wrapper a:hover {color: #fff;
border-bottom: 1px solid #fff;
}


#header, #header a, #footer a {
border: none;
color: #fff;}


/* must have makeup*/
.search .SearchField {
width: 150px;
}

/* List Styles*/
.bText ul li, .sidebar ul ul li {list-style-type: square;}
.sidebar ul, .sidebar ul ol { /*important!*/
margin: 0;
padding: 0;
}

.sidebar ul li { /*each sidebar block*/
list-style-type: none;
list-style-image: none;
padding-left: 15px;
margin-bottom: 15px;
overflow: hidden;
}

.sidebar ul p, .sidebar ul select {
margin: 5px 0 8px;}
.sidebar ul ul, .sidebar ul ol {
margin: 5px 0 0 10px;}
.sidebar ul ul ul, .sidebar ul ol {
margin: 0 0 0 10px;}
ol li, .sidebar ul ol li {
list-style: decimal outside;}
.sidebar ul ul li, .sidebar ul ol li {
margin: 3px 0 0;
padding: 0;
}
/* End Lists */

#skin_wrapper small {font-family: Arial, Helvetica, Sans-Serif;font-size: 0.9em;line-height: 1em;}/* end must have makeup*/
.commentlist li, #commentform input, #commentform textarea {
font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

.commentlist li {
font-weight: bold;
}

.commentlist p {
font-weight: normal;
line-height: 1.5em;
text-transform: none;
}

#commentform p {
font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}




/* Styles for comments */
div .bComment { /* Entire comment block */
}
form.bComment /* New comment form */
{
margin: 3ex 0;
border: 1px solid #999999;
padding: 5px;
}

/*Header list styles*/
div#header ul {float:right;list-style-type:none;margin: 0;padding: 5px;}
div#header li {margin: 0;display: inline;padding: 0 1ex 0 0;}
div#header li a {
font-weight: bold;
font-style:italic;
color: #fff;
}
div#header li a:hover {
color: #666;
text-decoration: underline;
}
div#header li a.selected {
text-decoration: underline;
}

/* Top menu */
div.headnav ul {float:right;padding: 0;list-style-type:none;font-size: 110%;display: inline;}
.switch {clear:both;float: right; text-align:right;}

/* Begin Various Tags & Classes */
acronym, abbr, span.caps {cursor: help;}
acronym, abbr {border-bottom: 1px dashed #999;}

blockquote {
margin: 15px 30px 0 10px;
padding-left: 20px;
border-left: 5px solid #ddd;}

.center {text-align: center;}
hr {display: none;}
a img {border: none;}

p img {padding: 0;max-width: 100%;}

/*.sidebar a, .sidebar a:hover {border: none;}*/
div.widget_core_coll_title {padding-top: 20px;	text-align: center;}
div.moderation_msg {margin: 1ex 0;}
div.action_messages {color:#FF0000}
.postmetadata {clear: both;padding: 5px;}
.posttags {	clear: both;float:right;color: #777;}
table.prevnext_post {width: 100%;}
.alt {
background-color: #f8f8f8;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}

/*calendar*/
.bCalendarTable a {text-decoration: none;border: none;}
table.bCalendarTable, table.bCalendarTable th {font-size: 100%;width: auto;}
table.bCalendarTable caption {font-size: 130%;}
#bCalendarToday {border: 1px solid #fff;background-color:#999;color: #E6E6E6;font-weight:bold;}
#bCalendarToday a {color: #e6e6e6;}

small, .sidebar ul ul li, .sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
color: #777;
}

code {
border: 1px solid #999;
font: 1.1em 'Courier New', Courier, Arial, Verdana;
padding: 1px;
}

p code {padding-left: 7px;
border-left: 5px solid #999;
}

acronym, abbr, span.caps{font-size: 0.9em;
letter-spacing: .07em;}
.sidebar .validators a, .powered_by a, .validators a:hover, .powered_by a:hover {
border: none;
}
.clear {clear: both; height: 1px;  overflow: hidden;  margin: 0;   }   
